<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="icon" type="image/png" href="../img/icon.svg">

    <meta name="description" content="игрушки аниме, магазин игрушек,">
    <meta name="keywords" content="аниме девочки, аниме мальчики, кавай,">

    <title>Магазин игрушек</title>
</head>
<body>
<div class="page">

    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-brand">
                    МАГАЗИН ИГРУШЕК
                </div>

                <div class="header-nav">
                    <a class="header-nav-link" href="autentication">Главная</a>
                    <a class="header-nav-link  active" href="person_accaunt">Каталог</a>
                </div>
                <!-- Актуальная реализация логаута -->
                <div>
                    <form method="post" th:action="@{/logout}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button class="btn btn-full" name="btn" type="submit">Выйти</button>
                    </form>
                </div>
                <div>
                    <form method="get" th:action="@{/cart}">
                        <button class="btn btn-full" name="btn" type="submit">Корзина</button>
                    </form>
                </div>

                <!-- История заказов -->
                <div>
                    <form method="get" th:action="@{/orders}">
                        <button class="btn btn-full" name="btn" type="submit">История</button>
                    </form>
                </div>



            </div>
        </div><!-- /.container -->
    </header>



    <!-- Main -->
    <div class="container">
        <main class="content">
            <div class="content-header">
                <h3 class="title">Сортировка, <span>поиск,</span> фильтрация</h3>
            </div>
            <div  class="text">
                <form th:method="post" th:action="@{/product/search}">
                    <fieldset>
                        <legend>Параметры поиска, сортировки или фильтрации</legend>
                        <label for="search">Поиск по наименованию товара</label>
                        <input type="text" name="search" id="search"  th:value="*{value_search}">
                        <br>
                        <p>Цена, Р</p>
                        <label for="ot">От</label>
                        <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
                        <label for="do">До</label>
                        <input type="text" name="do" id="do" th:value="*{value_price_do}">
                        <br>
                        <br>
                        <div>
                            <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                            <label for="ascending_price">Отсортировать по возрастанию цены</label>
                            <br>
                            <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                            <label for="descending_price">Отсортировать по убыванию цены</label>
                            <p>Категория товаров</p>
                            <input type="radio" id="woman" name="contract" value="woman">
                            <label for="woman">Женщины</label>
                            <input type="radio" id="animals" name="contract" value="animals">
                            <label for="animals">Животные</label>
                            <input type="radio" id="man" name="contract" value="man">
                            <label for="man">Мужчины</label>
                            <br>
                            <br>
                            <input type="submit" value="Найти">
                        </div>
                    </fieldset>
                </form>
                <hr>
                <h3>Результаты поиска, сортировки и фильтрации</h3>
                <div th:each="product : ${search_product}">
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="250px">
                    <br>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
                    <hr>
                </div>
                <hr>
                <h3>Список товаров</h3>
                <div th:each="product : ${products}">
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="150px">
                    <br>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                    <hr>
                </div>
            </div>
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="contacts">

            </div>
        </div>


    </footer>

    <img class="autor" src="../img/me.png" alt="">

</div><!-- /.page -->
</body>
</html>
